<a href="https://colab.research.google.com/github/exoticTraderSisyphus/International_Parity_Conditions/blob/main/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd, numpy as np
import requests
import json
import datetime as dt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
DATA_PATH = "/content/drive/MyDrive/International_Parity_Conditions/Data_Sources"

In [4]:
# Base URL used in all the API calls
BASE_URL='http://api.worldbank.org/v2/'

# List of indicators according to the features defined above
INDICATOR_CODES=[
  "FP.CPI.TOTL.ZG",
  "FP.CPI.TOTL",
  "BN.CAB.XOKA.CD", 
  "BN.GSR.GNFS.CD", 
  "BX.GSR.GNFS.CD", 
  "BM.GSR.GNFS.CD",
  "BN.TRF.KOGT.CD",
  "BX.KLT.DINV.CD.WD",
  "BM.KLT.DINV.CD.WD",
  "BN.KLT.PTXL.CD",
  "GC.DOD.TOTL.CN",
  "NY.GDP.MKTP.CD",
  "NY.GDP.PCAP.CN",
  "FM.LBL.BMNY.CN",
  "FM.AST.NFRG.CN"]

COUNTRY_LIST=['USA', 'China', 'Japan', 'Great Britain']

# mapping of feature codes to more meaningful names
featureMap={
  "FP.CPI.TOTL.ZG": "Annual Inflation Rate",
  "FP.CPI.TOTL": "CPI",
  "BN.CAB.XOKA.CD": "Current Account Balance",
  "BN.GSR.GNFS.CD": "Net trade in goods and services",
  "BX.GSR.GNFS.CD": "Exports in goods and services",
  "BM.GSR.GNFS.CD": "Imports in goods and services",
  "BN.TRF.KOGT.CD": "Net Capital Account",
  "BX.KLT.DINV.CD.WD": "Foreign Direct Investment, net inflows",
  "BM.KLT.DINV.CD.WD": "Foreign Direct Investments, net ouflows",
  "BN.KLT.PTXL.CD": "Net Portfolio Investment",
  "GC.DOD.TOTL.CN": "Central Government Debt",
  "NY.GDP.MKTP.CD": "GDP",
  "NY.GDP.PCAP.CN": "GDP per capita",
  "FM.LBL.BMNY.CN": "Broad Money",
  "FM.AST.NFRG.CN": "Net Foreign Assets"
}

# Mapping of country codes to their actual names
countryMap={
    "US": "USA",
    "CN": "China",
    "JP": "Japan",
    "GB": "Great Britain",
}

# constant parameters used in sending the request.
params = dict()
# to ensure we receive a JSON response
params['format']='json'
# The data we fetch is for 59 years.
# Hence we change the default page size of 50 to 100 to ensure we need only one API call per feature.
params['per_page']='100'
# Range of years for which the data is needed
start, end = 1960, 2021
params['date']=f'{start}:{end}'

In [5]:
params

{'format': 'json', 'per_page': '100', 'date': '1960:2021'}

In [6]:
# Function to get JSON data from the endpoint
def loadJSONData(country_code): 
    dataList=[]
    
    # iterate over each indicator code specified in the contant INDICATOR_CODES defined above
    for indicator in INDICATOR_CODES: 
        
        # form the URL in the desired format
        # E.g: http://api.worldbank.org/v2/countries/us/indicators/SP.POP.TOTL?format=json&per_page=200&date=1960:2018
        url=BASE_URL+'countries/'+country_code.lower()+'/indicators/'+indicator
        
        # send the request using the resquests module
        response = requests.get(url, params=params)
        
        # validate the response status code
        # The API returns a status_code 200 even for error messages,
        # however, the response body contains a field called "message" that includes the details of the error
        # check if message is not present in the response
        if response.status_code == 200 and ("message" not in response.json()[0].keys()):
            # print("Successfully got data for: " + str(featureMap[indicator]))
            
            # list of values for one feature
            indicatorVals=[]
            
            # the response is an array containing two arrays - [[{page: 1, ...}], [{year: 2018, SP.POP.TOTL: 123455}, ...]]
            # hence we check if the length of the response is >1
            if len(response.json()) > 1:
                
                # if yes, iterate over each object in the response
                # each object gives one single value for each year
                for obj in response.json()[1]:
                    
                    # check for empty values
                    if obj['value'] == "" or obj['value'] == None:
                        indicatorVals.append(None)
                    else:
                    # if a value is present, add it to the list of indicator values
                        indicatorVals.append(float(obj['value']))
                dataList.append(indicatorVals)
        else:
            # print an error message if the API call failed
            print("Error in Loading the data. Status Code: " + str(response.status_code))
            
    # Once all the features have been obtained, add the values for the "Year"
    # The API returns the indicator values from the most recent year. Hence, we create a list of years in reverse order
    dataList.append([year for year in range(end, start-1, -1)])
    # return the list of lists of feature values [[val1,val2,val3...], [val1,val2,val3...], [val1,val2,val3...], ...]
    return dataList

#----------------------------------------------------------------------------------------------------

# function to invokde the loadJSONData function and form the final DataFrame for each country
def getCountrywiseDF(country_code):
    
    # The resulting dataframe needs to have meaningful column names
    # hence we create a list of column names from the map defined above
    col_list=list(featureMap.values())
    # append the year column name
    col_list.append('Year')
    
    print("------------------Loading data for: "+countryMap[country_code]+"-----------------------")
    
    # for the given country call the loadJSONData function and fetch the data from the API
    dataList=loadJSONData(country_code)
    
    # transform the list of lists of features into a DataFrame
    # np.column_stack is used to add each list as a column 
    df=pd.DataFrame(np.column_stack(dataList), columns=col_list)
    
    # add the country column by extracting the country name from the map using the country code
    df['Country'] = countryMap[country_code]
    
    # display the resulting dataframe
    display(df.head())
    
    # return the formed dataframe for the given country
    return df

In [7]:
US_df=getCountrywiseDF('US')
CN_df=getCountrywiseDF('CN')
JP_df=getCountrywiseDF('JP')
GB_df=getCountrywiseDF('GB')

------------------Loading data for: USA-----------------------

,Annual Inflation Rate,CPI,Current Account Balance,Net trade in goods and services,Exports in goods and services,Imports in goods and services,Net Capital Account,"Foreign Direct Investment, net inflows","Foreign Direct Investments, net ouflows",Net Portfolio Investment,Central Government Debt,GDP,GDP per capita,Broad Money,Net Foreign Assets,Year,Country
0,4.697859,124.266414,-846354000000.0,-845050000000.0,2556638000000.0,3401688000000.0,-2475000000.0,448324000000.0,421750000000.0,42982000000.0,None,23315080560000.0,70248.629,None,None,2021,USA
1,1.233584,118.690502,-619702000000.0,-653990000000.0,2158651000000.0,2812641000000.0,-5532000000.0,148912000000.0,271797000000.0,-540198000000.0,26618437000000.0,21060473613000.0,63530.633484,23301047844003.398438,307553379930.052979,2020,USA
2,1.81221,117.244195,-445955000000.0,-559675000000.0,2546280000000.0,3105955000000.0,-6455000000.0,314744000000.0,105677000000.0,-244920000000.0,21573955000000.0,21380976119000.0,65120.394663,19881523881838.0,256812153769.386993,2019,USA
3,2.442583,115.157303,-439851000000.0,-578600000000.0,2542459000000.0,3121059000000.0,-4261000000.0,214715000000.0,-130720000000.0,78785000000.0,20358441000000.0,20533057312000.0,62823.309438,18342259948911.800781,-74874080291.652802,2018,USA
4,2.13011,112.411557,-361018000000.0,-510339000000.0,2394477000000.0,2904816000000.0,12395000000.0,380823000000.0,409413000000.0,-250083000000.0,19043953000000.0,19477336549000.0,59907.754261,17631631156299.0,-219901833247.987,2017,USA

------------------Loading data for: China-----------------------

,Annual Inflation Rate,CPI,Current Account Balance,Net trade in goods and services,Exports in goods and services,Imports in goods and services,Net Capital Account,"Foreign Direct Investment, net inflows","Foreign Direct Investments, net ouflows",Net Portfolio Investment,Central Government Debt,GDP,GDP per capita,Broad Money,Net Foreign Assets,Year,Country
0,0.981015,129.366217,317300990626.927979,462807887089.710022,3554296099846.049805,3091488212756.339844,91500853.54,333979029130.320007,128037380367.690002,-50961837070.82,None,17734062645371.398438,80975.792291,None,None,2021,China
1,2.419422,128.109444,248835643936.040009,358572608160.02002,2738897986700.97998,2380325378540.959961,-75764996.64,253095616058.579987,153720808338.109985,-95539019942.699997,None,14687673892882.0,71828.148253,214766371891765.0,26886430520561.898438,2020,China
2,2.899234,125.083154,102909876008.388,131844297312.037003,2630999236934.950195,2499154939622.910156,-327297478.87,187169822364.755005,136910000000.0,-57947645385.638,None,14279937500606.5,70077.69179,195218087092332.0,26392404962887.5,2019,China
3,2.07479,121.558878,24130909184.498501,87905148451.873596,2651009602168.899902,2563104453717.029785,-568607666.62,235365050036.341003,143026576683.860992,-106873525546.720993,None,13894817549374.199219,65533.742698,179292800240995.0,25506987279521.601562,2018,China
4,1.593136,119.08805,188676126121.161987,217009899933.946991,2429277356205.390137,2212267456271.439941,-91496073.44,166083755721.648987,138292767802.139008,-29497793098.263302,None,12310409370892.800781,59592.25109,167577363382557.0,25263930561710.0,2017,China

------------------Loading data for: Japan-----------------------

,Annual Inflation Rate,CPI,Current Account Balance,Net trade in goods and services,Exports in goods and services,Imports in goods and services,Net Capital Account,"Foreign Direct Investment, net inflows","Foreign Direct Investments, net ouflows",Net Portfolio Investment,Central Government Debt,GDP,GDP per capita,Broad Money,Net Foreign Assets,Year,Country
0,-0.233353,105.211812,157743004558.451996,-22513457717.494099,919158028080.979004,941671485798.470947,-3824968251.19206,33092988100.898399,210778617284.787994,-196648731488.277008,None,4940877780755.330078,4314734.457575,None,None,2021,Japan
1,-0.024996,105.457901,147948273293.911987,-7597675867.01364,794291076749.503052,801888752616.516968,-1932522234.64785,60725202927.858704,146178021894.320007,35926915439.337196,1163916500000000.0,5040107754084.110352,4262245.665724,1513826500000000.0,92681600000000.0,2020,Japan
2,0.468776,105.484268,176609997619.696014,-8615189108.462191,904632403731.96106,913247592840.422974,-3808661034.19253,39960544340.014099,258284325075.721985,86642953831.485596,1104706200000000.0,5123318151510.620117,4410313.267474,1409903600000000.0,79624700000000.0,2019,Japan
3,0.989095,104.99209,177268535276.423004,1405006849.05243,929827552588.353027,928422545739.300049,-1922509970.18999,25289367857.851799,160218306051.632996,92911832022.275696,1098381600000000.0,5037835383110.969727,4386794.52098,1381142200000000.0,80941800000000.0,2018,Japan
4,0.4842,103.96379,203168727082.394989,37636176718.934196,875513551319.491943,837877374600.557983,-2498993250.54329,18802251208.106899,173750236904.079987,-49213900461.9487,1070162900000000.0,4930837369151.419922,4355865.86019,1349607100000000.0,83451500000000.0,2017,Japan

------------------Loading data for: Great Britain-----------------------

,Annual Inflation Rate,CPI,Current Account Balance,Net trade in goods and services,Exports in goods and services,Imports in goods and services,Net Capital Account,"Foreign Direct Investment, net inflows","Foreign Direct Investments, net ouflows",Net Portfolio Investment,Central Government Debt,GDP,GDP per capita,Broad Money,Net Foreign Assets,Year,Country
0,2.518371,123.848715,-62941408374.711098,-24233324660.438202,874485940890.021973,898719265550.459961,-3562713673.49336,5922252759.15616,160931982890.44101,-322831983365.591003,None,3131377762925.950195,33815.996178,None,None,2021,Great Britain
1,0.989487,120.806362,-87814101834.237198,8295267014.14478,791733492696.873047,783438225682.728027,-3924036037.06856,132476034789.014999,-4444825595.10756,31995557917.767399,4121984000000.0,2704609160088.149902,31448.457835,3447481000000.0,217637000000.0,2020,Great Britain
2,1.738105,119.622711,-80778655725.834198,-46207199363.950104,893141892842.457031,939349092206.406982,-1689172144.8505,19790761929.127701,-21498303884.121601,34756469387.769897,3581810000000.0,2857057847953.02002,33489.991154,3142460000000.0,281300000000.0,2019,Great Britain
3,2.29284,117.579064,-116991662017.686005,-43882686819.431602,899005981882.619019,942888668702.051025,-3585311002.35494,-25055440306.907299,-28632134257.130402,-353571263790.36499,3404472000000.0,2878152147315.819824,32461.6135,3185921000000.0,396481000000.0,2018,Great Britain
4,2.557756,114.943592,-96879427831.574799,-38943461352.965797,824360223649.562012,863303685002.526978,-2321009114.69037,125358809934.121002,172043885461.575989,-92026807624.250504,3358710000000.0,2683399006715.790039,31562.882429,3025571000000.0,404609000000.0,2017,Great Britain

In [8]:
US_df.to_csv("/content/drive/MyDrive/Colab Notebooks/International_Parity_Conditions/Data_Cache/USdata.csv", index = False)
CN_df.to_csv("/content/drive/MyDrive/Colab Notebooks/International_Parity_Conditions/Data_Cache/CNdata.csv", index = False)
JP_df.to_csv("/content/drive/MyDrive/Colab Notebooks/International_Parity_Conditions/Data_Cache/JPdata.csv", index = False)
GB_df.to_csv("/content/drive/MyDrive/Colab Notebooks/International_Parity_Conditions/Data_Cache/GBdata.csv", index = False)

In [ ]:
response = requests.get("https://stats.oecd.org/sdmx-json/data/DP_LIVE/.TRUSTGOV.TOT.PC.A")

In [ ]:
response.json()

{'header': {'id': '207ee2fd-869c-4aba-a236-b12aa1f498fc',
  'test': False,
  'prepared': '2023-04-01T18:19:45.6016679Z',
  'sender': {'id': 'OECD',
   'name': 'Organisation for Economic Co-operation and Development'},
  'links': [{'href': 'https://stats.oecd.org:443/sdmx-json/data/DP_LIVE/.TRUSTGOV.TOT.PC.A',
    'rel': 'request'}]},
 'dataSets': [{'action': 'Information',
   'series': {'0:0:0:0:0': {'attributes': [0],
     'observations': {'0': [53.206332837474, None],
      '1': [52.6932810746771, None],
      '2': [64.4675424053232, None],
      '3': [60.9752918764891, None],
      '4': [53.0786719332192, None],
      '5': [42.0419178918908, None],
      '6': [45.5871468172797, None],
      '7': [46.4676233517878, None],
      '8': [47.855683708198, None],
      '9': [45.2731750058896, None],
      '10': [45.3406962891371, None],
      '11': [46.8836874513729, None],
      '12': [46.8700014928596, None],
      '13': [44.6422249484244, None],
      '14': [51.9226387269998, None],
      '15': [49.9118816780199, None]}},
    '1:0:0:0:0': {'attributes': [0],
     'observations': {'0': [49.7037785972272, None],
      '2': [25.724219330429, None],
      '16': [48.1052139950794, None],
      '3': [49.1841077639318, None],
      '4': [40.6920116166579, None],
      '5': [37.6573862243166, None],
      '6': [41.7099238673145, None],
      '7': [40.7695403712258, None],
      '8': [45.4789863460126, None],
      '9': [43.2638218460391, None],
      '10': [43.5907940906151, None],
      '11': [48.8678724760577, None],
      '12': [51.2338260131346, None],
      '13': [62.6177826842198, None],
      '14': [61.0458963307101, None]}},
    '2:0:0:0:0': {'attributes': [0],
     'observations': {'0': [55.170499554232, None],
      '1': [60.2238274696858, None],
      '2': [46.3137074638764, None],
      '3': [33.6516478821503, None],
      '4': [28.9129467541356, None],
      '5': [44.0117182467805, None],
      '6': [55.4124504898777, None],
      '7': [46.911160946126, None],
      '8': [45.9024212028926, None],
      '9': [41.917750565944, None],
      '10': [44.9731910860775, None],
      '11': [44.1944530799293, None],
      '12': [32.7901154348457, None],
      '13': [29.4799600657363, None],
      '14': [47.3133105255303, None],
      '15': [57.2408419337754, None]}},
    '3:0:0:0:0': {'attributes': [0],
     'observations': {'0': [44.2817551871269, None],
      '1': [63.7823809824318, None],
      '2': [59.037096129753, None],
      '16': [60.8264014758515, None],
      '3': [55.1076448952314, None],
      '4': [55.3290517483987, None],
      '5': [52.3448147672759, None],
      '6': [50.5975994689002, None],
      '7': [51.6953607599081, None],
      '8': [64.4104144291728, None],
      '9': [61.8195286361391, None],
      '10': [65.2735971510871, None],
      '11': [61.0466915368588, None],
      '12': [54.9280966328576, None],
      '13': [60.0424110070179, None],
      '14': [61.0411167292314, None],
      '15': [50.6668033321548, None]}},
    '4:0:0:0:0': {'attributes': [0],
     'observations': {'0': [28.2911479786864, None],
      '1': [26.8838416918378, None],
      '16': [35.4553383877274, None],
      '3': [31.2066329181842, None],
      '4': [20.6286698378698, None],
      '5': [16.9811331658699, None],
      '6': [24.2542617700795, None],
      '7': [33.9732811212868, None],
      '8': [43.5425873134496, None],
      '9': [41.5120712288846, None],
      '10': [34.3870808017862, None],
      '11': [42.07833057775, None],
      '13': [31.8858991214926, None],
      '14': [28.4475429313419, None],
      '15': [34.0826747537788, None]}},
    '5:0:0:0:0': {'attributes': [0],
     'observations': {'0': [66.868331656725, None],
      '1': [59.2505953511862, None],
      '2': [66.5933894811951, None],
      '16': [62.6578141490452, None],
      '3': [58.6689437181275, None],
      '4': [47.1823328841313, None],
      '5': [53.4252789831086, None],
      '6': [39.1405106681844, None],
      '7': [45.7836906639968, None],
      '8': [57.9888642484797, None],
      '9': [46.7660707808524, None],
      '10': [57.2353315512816, None],
      '11': [63.2478459186145, None],
      '12': [63.2999031726247, None],
      '13': [71.5797588737729, None],
      '14': [65.1709716073998, None],
      '15': [63.5359926406944, None]}},
    '6:0:0:0:0': {'attributes': [0],
     'observations': {'0': [75.7926285586337, None],
      '2': [72.3243452569938, None],
      '3': [46.1843622158383, None],
      '4': [56.5402382888227, None],
      '5': [59.7941598843626, None],
      '6': [42.0593740626318, None],
      '7': [46.8558861843762, None],
      '8': [55.7600285323456, None],
      '9': [48.5727259093159, None],
      '10': [59.7538583335695, None],
      '11': [55.5102212646279, None],
      '12': [63.9188147034123, None],
      '13': [80.863288011065, None],
      '14': [71.3731249908732, None],
      '15': [77.5449915345894, None]}},
    '7:0:0:0:0': {'attributes': [0],
     'observations': {'0': [32.4883525166435, None],
      '1': [36.1352911129457, None],
      '2': [45.2659394096814, None],
      '16': [47.4448884929059, None],
      '3': [40.146622731306, None],
      '4': [37.5089251294202, None],
      '5': [44.0625333396339, None],
      '6': [39.5130526926862, None],
      '7': [26.380172229118, None],
      '8': [32.8252697918279, None],
      '9': [28.3978157607008, None],
      '10': [37.4793527389085, None],
      '11': [38.0547431018663, None],
      '12': [38.1849235823193, None],
      '13': [41.0406651012307, None],
      '14': [43.3520499917692, None]}},
    '8:0:0:0:0': {'attributes': [0],
     'observations': {'0': [32.1758802679406, None],
      '1': [34.9765459965139, None],
      '2': [43.1707621154454, None],
      '16': [53.3415268397705, None],
      '3': [39.542400943988, None],
      '4': [42.458313094954, None],
      '5': [51.6928196754929, None],
      '6': [55.7760681240501, None],
      '7': [60.1368861157108, None],
      '8': [62.8003646734885, None],
      '9': [55.2613565971883, None],
      '10': [62.2935652402484, None],
      '11': [59.2990586555584, None],
      '12': [56.8460427456982, None],
      '13': [65.406310434657, None],
      '14': [60.4759932362344, None],
      '15': [60.7603777839133, None]}},
    '9:0:0:0:0': {'attributes': [0],
     'observations': {'0': [48.754348966452, None],
      '1': [38.1428451823773, None],
      '16': [31.6206769615796, None],
      '3': [23.6502410606961, None],
      '4': [17.5151214535207, None],
      '5': [12.6218991602625, None],
      '6': [14.3608581264098, None],
      '7': [18.8292739352843, None],
      '8': [43.7318934948755, None],
      '9': [13.2486555093508, None],
      '10': [13.9880902374867, None],
      '11': [15.7048653991274, None],
      '12': [39.6424619237357, None],
      '13': [39.7469760890433, None],
      '14': [40.173639463011, None],
      '15': [25.6266144139102, None]}},
    '10:0:0:0:0': {'attributes': [0],
     'observations': {'0': [36.0526361111571, None],
      '1': [24.9713572886661, None],
      '2': [19.9941780468094, None],
      '3': [25.1568123545203, None],
      '4': [35.9794165259357, None],
      '5': [20.9778268131058, None],
      '6': [32.7895949552699, None],
      '7': [30.8385162025936, None],
      '8': [27.9211903401081, None],
      '9': [30.3772330086861, None],
      '10': [37.7770498769594, None],
      '11': [38.8044038624269, None],
      '12': [48.3934186398412, None],
      '13': [42.8733251215195, None],
      '14': [41.6566138185724, None],
      '15': [44.1911725509736, None]}},
    '11:0:0:0:0': {'attributes': [0],
     'observations': {'2': [23.810311106386, None],
      '5': [25.7335575753305, None],
      '6': [45.6565933652838, None],
      '8': [42.7228133576729, None],
      '9': [36.3518302386903, None],
      '10': [36.5041931341138, None],
      '12': [52.1377060493115, None],
      '13': [59.2407281936249, None],
      '14': [63.3886735712649, None],
      '15': [51.5324987127802, None]}},
    '12:0:0:0:0': {'attributes': [0],
     'observations': {'0': [63.2926908294949, None],
      '2': [51.3727909737909, None],
      '16': [29.2569285376466, None],
      '3': [33.2579368160728, None],
      '4': [52.910414439423, None],
      '5': [34.5872712500754, None],
      '6': [28.5015541187537, None],
      '7': [45.988237149778, None],
      '8': [57.1841082491839, None],
      '9': [57.4739774897754, None],
      '10': [60.3799646882271, None],
      '11': [61.8405288767387, None],
      '12': [58.1215976215141, None],
      '13': [58.8148266866781, None],
      '14': [62.3389411864285, None]}},
    '13:0:0:0:0': {'attributes': [0],
     'observations': {'0': [23.8737994727616, None],
      '1': [30.3424148646182, None],
      '2': [36.3116575197283, None],
      '16': [39.9521696026341, None],
      '3': [33.3916393469551, None],
      '4': [25.9559683178087, None],
      '5': [28.0694606482693, None],
      '6': [14.597214319755, None],
      '7': [30.9035740148672, None],
      '8': [26.0625878767127, None],
      '9': [23.7599087653847, None],
      '10': [23.0196292012131, None],
      '11': [20.6626197456088, None],
      '12': [22.1925858303397, None],
      '13': [37.4515772443029, None],
      '14': [35.429390283743, None]}},
    '14:0:0:0:0': {'attributes': [0],
     'observations': {'0': [35.0331289843876, None],
      '1': [24.00056901907, None],
      '2': [22.1201479543242, None],
      '16': [25.1777884225857, None],
      '3': [27.0271481785631, None],
      '4': [23.1063634833865, None],
      '5': [16.9178059703204, None],
      '6': [35.8106893025437, None],
      '7': [37.9515283802331, None],
      '8': [35.2867215184008, None],
      '9': [36.2200653973439, None],
      '10': [41.2489941601125, None],
      '11': [38.488039367055, None],
      '12': [41.1213650479192, None],
      '13': [42.337998467072, None],
      '14': [29.0785675214417, None],
      '15': [43.1462692986385, None]}},
    '15:0:0:0:0': {'attributes': [0],
     'observations': {'0': [22.6414493869729, None],
      '1': [23.9366350108521, None],
      '2': [27.3481350305661, None],
      '16': [27.0037336636344, None],
      '3': [32.4226994611414, None],
      '4': [28.3037222266954, None],
      '5': [23.0812561348807, None],
      '6': [34.8586394756612, None],
      '7': [28.4103521814528, None],
      '8': [26.4757379348352, None],
      '9': [23.7081578707328, None],
      '10': [35.8582211551073, None],
      '11': [38.9084017674115, None],
      '12': [37.6757588549017, None],
      '13': [44.8309238280724, None],
      '14': [43.3829193400451, None]}},
    '16:0:0:0:0': {'attributes': [0],
     'observations': {'2': [82.4018115138469, None],
      '3': [76.8445289356738, None],
      '4': [77.0686673168671, None],
      '5': [74.3670533489033, None],
      '6': [73.6690229479412, None],
      '7': [66.2738325750152, None],
      '8': [69.4678367168458, None],
      '9': [67.8977823862285, None],
      '10': [73.8922066241593, None],
      '11': [75.5200844504176, None],
      '12': [78.0171007884326, None]}},
    '17:0:0:0:0': {'attributes': [0],
     'observations': {'0': [42.6359197725816, None],
      '1': [41.8146600100788, None],
      '2': [41.3553204471087, None],
      '16': [44.6137847400114, None],
      '3': [37.1986281216122, None],
      '4': [38.344640875416, None],
      '5': [36.1408784756755, None],
      '6': [39.557135788317, None],
      '7': [32.758204257445, None],
      '8': [25.6193175012112, None],
      '9': [27.7944071192951, None],
      '10': [25.6953163204871, None],
      '11': [29.4568493712817, None],
      '12': [49.5231159478194, None],
      '13': [45.9497858951298, None],
      '14': [48.3326115001658, None],
      '15': [52.8816455058393, None]}},
    '18:0:0:0:0': {'attributes': [0],
     'observations': {'0': [42.9006538271288, None],
      '1': [66.1946027705701, None],
      '2': [61.742884518497, None],
      '3': [63.6186313994424, None],
      '4': [60.3366779536316, None],
      '5': [57.4513931181001, None],
      '6': [54.2986902004046, None],
      '7': [52.5242282456353, None],
      '8': [57.9621031534256, None],
      '9': [57.2273341763004, None],
      '10': [66.9553628312174, None],
      '11': [65.6541049004005, None],
      '12': [61.6572239633327, None],
      '13': [78.0745963024676, None],
      '14': [58.4738788340274, None],
      '15': [47.2347701581325, None]}},
    '19:0:0:0:0': {'attributes': [0],
     'observations': {'0': [62.648096695848, None],
      '1': [58.644222165667, None],
      '2': [46.4786362891635, None],
      '3': [63.913515178855, None],
      '4': [63.5153074560422, None],
      '5': [61.4699937490701, None],
      '6': [54.350865570354, None],
      '7': [62.9681341251676, None],
      '8': [62.0907686447981, None],
      '9': [56.9690142072982, None],
      '10': [60.9015469473419, None],
      '11': [64.2461247353497, None],
      '12': [67.5200840959097, None],
      '13': [62.8641075031231, None],
      '14': [63.4897827518881, None],
      '15': [51.3921513069705, None]}},
    '20:0:0:0:0': {'attributes': [0],
     'observations': {'0': [68.2717221464595, None],
      '2': [54.0760006444891, None],
      '5': [66.3340505244774, None],
      '7': [69.9690507161356, None],
      '8': [58.6871616601625, None],
      '9': [65.7646260201594, None],
      '10': [71.7159775373959, None],
      '11': [67.9502983314575, None],
      '12': [59.7987006273954, None],
      '13': [82.9234210846933, None],
      '14': [77.352319776611, None],
      '15': [63.6077672008499, None]}},
    '21:0:0:0:0': {'attributes': [0],
     'observations': {'0': [6.8768737648731, None],
      '1': [18.7883477376476, None],
      '2': [28.4511510037596, None],
      '16': [31.1995880596053, None],
      '3': [35.5606236777172, None],
      '4': [27.2376171464873, None],
      '5': [26.8628752795577, None],
      '6': [16.3588135319203, None],
      '7': [25.252284515161, None],
      '8': [21.1427917322036, None],
      '9': [38.2713190902938, None],
      '10': [50.2480449014661, None],
      '11': [42.751770532449, None],
      '12': [49.7986028419138, None],
      '13': [27.3116610310921, None],
      '14': [25.9251651378815, None],
      '15': [34.1607151853422, None]}},
    '22:0:0:0:0': {'attributes': [0],
     'observations': {'0': [45.2416798659854, None],
      '2': [33.9916802516193, None],
      '16': [28.1744967430434, None],
      '3': [24.4831041311832, None],
      '4': [20.9976449080143, None],
      '5': [23.0625158219976, None],
      '6': [17.9213397483661, None],
      '7': [22.7394462001861, None],
      '8': [21.7742198661133, None],
      '9': [35.4542411007049, None],
      '10': [50.1088152840043, None],
      '11': [52.0630661559634, None],
      '12': [43.5605003837812, None],
      '13': [61.4669417209344, None],
      '14': [57.618641201935, None],
      '15': [58.92422646215, None]}},
    '23:0:0:0:0': {'attributes': [0],
     'observations': {'0': [16.3079238875075, None],
      '3': [30.8679532485732, None],
      '4': [27.8723899689139, None],
      '5': [36.838017006767, None],
      '6': [28.3493229202678, None],
      '7': [31.0181484673909, None],
      '8': [27.6530670802911, None],
      '9': [37.2222144207557, None],
      '10': [34.1680088348464, None],
      '11': [32.7658610588874, None],
      '12': [23.097283281603, None],
      '13': [30.7444519017386, None],
      '14': [21.5807581467336, None]}},
    '24:0:0:0:0': {'attributes': [0],
     'observations': {'0': [52.7845740776254, None],
      '1': [47.6248928950843, None],
      '2': [57.9760434620168, None],
      '16': [42.436204792935, None],
      '3': [30.2731590467374, None],
      '4': [30.8662722644219, None],
      '5': [33.9146540193131, None],
      '6': [18.454966121112, None],
      '7': [21.0619813423205, None],
      '8': [27.7751327590428, None],
      '9': [30.2516670288051, None],
      '10': [26.9585960029324, None],
      '11': [28.5195625416916, None],
      '12': [36.7785864601752, None],
      '13': [38.1767100934638, None],
      '14': [37.1703814804768, None]}},
    '25:0:0:0:0': {'attributes': [0],
     'observations': {'0': [44.0848562296211, None],
      '1': [56.2064054206104, None],
      '2': [51.7427458043301, None],
      '16': [59.0337624809458, None],
      '3': [60.2851234236302, None],
      '4': [63.8707521003879, None],
      '5': [62.6497233837146, None],
      '6': [57.98550545138, None],
      '7': [56.3272063866335, None],
      '8': [49.9302027773589, None],
      '9': [48.5791323327063, None],
      '10': [55.9461971097114, None],
      '11': [49.4396245863266, None],
      '12': [51.3281754260436, None],
      '13': [67.107864752608, None],
      '14': [63.3536082593929, None],
      '15': [68.7863033630634, None]}},
    '26:0:0:0:0': {'attributes': [0],
     'observations': {'0': [63.1593527135658, None],
      '16': [57.7988485407956, None],
      '5': [76.9940187691882, None],
      '7': [75.1631301277681, None],
      '8': [78.7730009339302, None],
      '9': [79.8536703227829, None],
      '10': [81.9706762988938, None],
      '11': [84.9979467153876, None],
      '12': [80.6612709030345, None],
      '13': [84.6330707358843, None],
      '14': [83.7848093008452, None]}},
    '27:0:0:0:0': {'attributes': [0],
     'observations': {'0': [59.5773639991118, None],
      '1': [55.7877839792885, None],
      '2': [59.7622994610805, None],
      '3': [54.5994286962873, None],
      '4': [59.6201816176014, None],
      '5': [53.0999678892673, None],
      '6': [53.831178354506, None],
      '7': [55.6478295938993, None],
      '8': [48.6084640531312, None],
      '9': [58.3728229904672, None],
      '10': [58.6161238607939, None],
      '11': [51.3677054526917, None],
      '12': [56.1260907192075, None],
      '13': [55.3262159125458, None],
      '14': [42.6014369483973, None]}},
    '28:0:0:0:0': {'attributes': [0],
     'observations': {'0': [49.4749565776643, None],
      '1': [36.3637645195991, None],
      '2': [32.4165734162464, None],
      '16': [38.4066559716674, None],
      '3': [50.3511236708084, None],
      '4': [46.7890020286282, None],
      '5': [42.1262171791992, None],
      '6': [37.9231633242686, None],
      '7': [42.2672082954794, None],
      '8': [45.6811700107288, None],
      '9': [40.8632065380894, None],
      '10': [44.0120840347786, None],
      '11': [42.0859860924225, None],
      '12': [34.0828862506267, None],
      '13': [34.6972844445844, None],
      '14': [39.4753987902553, None]}},
    '29:0:0:0:0': {'attributes': [0],
     'observations': {'0': [55.8028846293867, None],
      '1': [39.3245457151014, None],
      '2': [37.9220600579706, None],
      '16': [50.3047314333465, None],
      '3': [41.8275822176401, None],
      '4': [38.2531597881553, None],
      '5': [34.8855607609258, None],
      '6': [28.8647499093217, None],
      '7': [34.8671200449052, None],
      '8': [34.6936462814797, None],
      '9': [29.7205661181863, None],
      '10': [38.6535016762403, None],
      '11': [31.3816089214947, None],
      '12': [36.277444009879, None],
      '13': [46.4917090465757, None],
      '14': [40.4625220436663, None],
      '15': [31.024155522486, None]}},
    '30:0:0:0:0': {'attributes': [0],
     'observations': {'0': [34.0624740119302, None],
      '1': [38.3459601315388, None],
      '2': [51.1010057618223, None],
      '16': [42.7178538138895, None],
      '3': [51.1266636540454, None],
      '4': [50.2891381657575, None],
      '5': [45.5934724840847, None],
      '6': [33.3725799979902, None],
      '7': [35.522868728624, None],
      '8': [19.8534782635747, None],
      '9': [26.4140257342422, None],
      '10': [16.5490266217132, None],
      '11': [16.8186652631908, None],
      '12': [34.0850087334004, None],
      '13': [36.2292400768302, None],
      '14': [32.7099283931536, None],
      '15': [39.1633431519861, None]}},
    '31:0:0:0:0': {'attributes': [0],
     'observations': {'0': [58.1012278405757, None],

In [ ]:
from pathlib import Path

Parsing the Aution Results

In [ ]:
dfs = pd.ExcelFile("/content/drive/MyDrive/Colab Notebooks/International_Parity_Conditions/To Do List/Task 1/Auction_Results_for_T-bills (Japan).xls")
dfs.sheet_names

['FY2022',
 'FY2021',
 'FY2020',
 'FY2019',
 'FY2018',
 'FY2017 ',
 'FY2016',
 'FY2015',
 'FY2014 ',
 'FY2013',
 'FY2012',
 'FY2011',
 'FY2010',
 'FY2009',
 'FY2008']

In [ ]:
i = 0
df = pd.read_excel(dfs, dfs.sheet_names[i])

In [ ]:
## formatting the df so it's normal
df.rename(columns=df.iloc[1], inplace = True)
df.drop(df.index[[0,1]], inplace = True)
df

,Issue Number,Maturity,Auction Date,Issue Date,Maturity Date,[A+B]\n(billion yen),Amounts of Competitive Bids (billion yen),Amounts of Bids Accepted (billion yen)\n[A]\n,Average Price,Yield at the Average Price(%),Lowest Accepted Price,Yield at the Lowest Accepted Price(%),Non-price -competitive Auction (billion yen)\n[B]
2,1070,3-month,2022-04-01 00:00:00,2022-04-04 00:00:00,2022-07-11 00:00:00,5699.91,16534.7,4620.41,100.0263,-0.0979,100.025,-0.093,1079.5
3,1071,6-month,2022-04-07 00:00:00,2022-04-11 00:00:00,2022-10-11 00:00:00,3399.97,13729.1,2756.27,100.049,-0.0976,100.048,-0.0956,643.7
4,1072,3-month,2022-04-08 00:00:00,2022-04-11 00:00:00,2022-07-19 00:00:00,5899.96,20067.05,4782.16,100.0332,-0.1223,100.032,-0.1179,1117.8
5,1073,3-month,2022-04-15 00:00:00,2022-04-18 00:00:00,2022-07-25 00:00:00,5899.94,11653.95,4782.14,100.0303,-0.1128,100.027,-0.1005,1117.8
6,1074,1-year,2022-04-19 00:00:00,2022-04-20 00:00:00,2023-04-20 00:00:00,3499.98,8742.4,2837.18,100.079,-0.0789,100.066,-0.0659,662.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,1137,6-month,2023-02-09 00:00:00,2023-02-10 00:00:00,2023-08-10 00:00:00,4499.96,15397.8,3691.46,100.066,-0.133,100.057,-0.1148,808.5
70,1138,3-month,2023-02-10 00:00:00,2023-02-13 00:00:00,2023-05-22 00:00:00,6299.93,15445.1,5136.53,100.0443,-0.1649,100.0415,-0.1545,1163.4
71,1139,1-year,2023-02-16 00:00:00,2023-02-20 00:00:00,2024-02-20 00:00:00,3499.98,10868.1,2847.68,100.096,-0.0959,100.086,-0.0859,652.3
72,1140,3-month,2023-02-17 00:00:00,2023-02-20 00:00:00,2023-05-29 00:00:00,6299.94,16529.1,5125.14,100.041,-0.1526,100.0365,-0.1358,1174.8
73,1141,3-month,2023-02-24 00:00:00,2023-02-27 00:00:00,2023-06-05 00:00:00,6299.93,18336.4,5125.13,100.0381,-0.1418,100.035,-0.1303,1174.8

In [ ]:
pvt = df.pivot_table(index=["Maturity", "Auction Date"], values="Yield at the Average Price(%)")
pvt

                       Yield at the Average Price(%)
Maturity Auction Date
1-year   2022-04-19                          -0.0789
         2022-05-19                          -0.0884
         2022-06-15                          -0.0949
         2022-07-19                          -0.1308
         2022-08-18                          -0.1311
...                                              ...
6-month  2022-10-06                          -0.1712
         2022-11-09                          -0.1148
         2022-12-08                          -0.1322
         2023-01-06                          -0.1007
         2023-02-09                          -0.1330

[72 rows x 1 columns]

In [ ]:
pvt.reset_index(drop = False, inplace= True)
pvt

   Maturity Auction Date  Yield at the Average Price(%)
0    1-year   2022-04-19                        -0.0789
1    1-year   2022-05-19                        -0.0884
2    1-year   2022-06-15                        -0.0949
3    1-year   2022-07-19                        -0.1308
4    1-year   2022-08-18                        -0.1311
..      ...          ...                            ...
67  6-month   2022-10-06                        -0.1712
68  6-month   2022-11-09                        -0.1148
69  6-month   2022-12-08                        -0.1322
70  6-month   2023-01-06                        -0.1007
71  6-month   2023-02-09                        -0.1330

[72 rows x 3 columns]

In [ ]:
pvt.Maturity.unique()

array(['1-year', '3-month', '6-month'], dtype=object)

In [ ]:
three_months = pvt[pvt['Maturity']=="3-month"][["Auction Date", "Yield at the Average Price(%)"]]
three_months.head()

   Auction Date  Yield at the Average Price(%)
11   2022-04-01                        -0.0979
12   2022-04-08                        -0.1223
13   2022-04-15                        -0.1128
14   2022-04-22                        -0.1191
15   2022-05-06                        -0.1343

In [ ]:
three_months["Auction Date"] = pd.DatetimeIndex(three_months["Auction Date"]) ## set as datetime index
three_months = three_months.set_index("Auction Date", drop = True)

## upsample the data, then time weight interpolation
three_months = three_months.resample('D').interpolate('time')

In [ ]:
three_months.head()

              Yield at the Average Price(%)
Auction Date
2022-04-01                        -0.097900
2022-04-02                        -0.101386
2022-04-03                        -0.104871
2022-04-04                        -0.108357
2022-04-05                        -0.111843